/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/scss/bootstrap';

 .yellow {
   color: white;
   background-color: #FFCC00;
 }

 .blue {
   color: white;
   background-color: #2B60DE;
 }

 .red {
   color: white;
   background-color: #8C0000;
 }

 .image-player {
   height: 300px;
   width: 200px;
   box-shadow: 0 0 8px 8px #fdfdfe inset;
 }

 .press-the-button {
   color: white;
   letter-spacing: 0.2vw;
   font-weight: bolder;

 }

 .small-font {
   font-size: 0.5em;
 }

 body {
   background-color: #2F3244;
 }

 .team-option {
   background-color: #fdfdfe;
 }

 .match {
   -webkit-box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.93);
  -moz-box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.93);
  box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.93);
  border-radius: 15px;
  background-color: #fdfdfe;
  color: #2F3244;
 }

 .list-group {
    border-radius: 15px;
     max-height: 90vh;
     overflow:scroll;
     -webkit-overflow-scrolling: touch;
 }

.match-summary {
  text-align: center;
  vertical-align: middle;
}

.match-club {
}

.club-name {
}

.club-league-name {
  line-height: 20%;
}

.center-vertically {
  display: flex;
  align-items: center;
}
