/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/scss/bootstrap';

 .image-player {
   height: 300px;
   width: 200px;
   box-shadow: 0 0 8px 8px #DCDCDC inset;
 }

 .press-the-button {
   color: white;
   letter-spacing: 0.2vw;
   font-weight: bolder;

 }

 body {
   background-color: #2F3244;
 }

 .team-option {
   background-color: #DCDCDC;
 }

 .match {
   -webkit-box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.93);
  -moz-box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.93);
  box-shadow: 7px 6px 12px -8px rgba(0,0,0,0.93);
  border-radius: 15px;
  background-color: #DCDCDC;
  color: #2F3244;
 }

 .list-group {
    border-radius: 15px;
     max-height: 90vh;
     overflow:scroll;
     -webkit-overflow-scrolling: touch;
 }

.match-summary {
  text-align: center;
  vertical-align: middle;
}

.match-club {
}

.club-name {
}

.club-league-name {
  line-height: 20%;
}

.center-vertically {
  display: flex;
  align-items: center;
}


$button-height: 40px;
$button-width: 240px;
$press-time: .4s;

.button-box {
  min-height: $button-height * 5;
}

.big-red-button{
  box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000000;
	cursor: pointer;
	background-color: #c0392b;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 50%;
	width: $button-width;
	height: $button-height;
	transform: translateX(-50%);

	&::before{
		content: '';
		z-index: 1;
		border-radius: 50%;
		background-color: #e74c3c;
		position: absolute;
		bottom: 100%;
		left: 0%;
		transition: bottom $press-time;
		width: $button-width;
		height: $button-height;
	}

	&::after{
		content: '';
		background-color: #c0392b;
		position: absolute;
		bottom: 50%;
		left: 0%;
		width: $button-width;
		height: $button-height;
		transition: height $press-time;
	}

	&:active{
		&::before{ bottom: 10%; }
		&::after{ height: 10%; }
	}

}
